/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

@font-face {
  font-family: "Furore";
  src: url("/font/Furore.otf") format("opentype");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--white);
  /* fonts */
  font-family: "Inter", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Furore", sans-serif;
}

p {
  font-family: "IBM Plex Mono", monospace;
}
.header__nav {
  background-color: #213d5a;
  padding: 2rem 0;
}
.header__nav li {
  margin: 0 2rem;
}

.header__nav li .active {
  color: red;
}

@media (max-width: 768px) {
  .header__nav li {
    margin: 0 1rem;
  }
}

@media (max-width: 640px) {
    /* .header__nav {
        justify-content: end;
    }
  .header__nav ul {
    display: none;
  } */
}

svg {
    height: 2rem
}

@tailwind base;
@tailwind components;
@tailwind utilities;
